* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(to bottom, #d6f0ea 0%, #dde849 100%);
}
.wrapper {
  background: rgb(184, 181, 53);
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(200, 13, 13, 0.657);
}
.wrapper header {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.wrapper .inputField {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
}
.inputField input:focus {
  border-color: #ce1707;
}
.inputField button {
  width: 65px;
  height: 100%;
  border: none;
  color: white;
  margin-left: 20px;
  font-size: 21px;
  outline: none;
  background: #1ab7cc;
  cursor: pointer;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button:hover,
.footer button:hover {
  background: #ce1707;
}
.inputField button.active {
  opacity: 5;
  pointer-events: auto;
}
.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}
.todoList li {
  position: relative;
  list-style: none;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
}
.todoList li .icon {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(184, 181, 53);
  width: 45px;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.1s ease;
}
.todoList li:hover .icon {
  color: red;
  right: 0px;
}
.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button {
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #1ab7cc;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active {
  opacity: 1;
  pointer-events: auto;
}
/*######### dark theme #############*/
body.dark {
  background: linear-gradient(to bottom, #37504a 0%, #030301 100%);
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label .ball {
  transform: translateX(26px);
}
.label {
  padding: 5px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  height: 25px;
  width: 50px;
  position: relative;
}
.fa-moon {
  color: white;
}
.fa-sun {
  color: yellow;
}
.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  transition: transform 0.2s linear;
}
